.board td {

    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 2.5em;
    color: rgb(255, 51, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px outset rgb(46, 46, 46);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    margin-bottom: 5px;
    letter-spacing: 30px;
    text-shadow: 2px 2px 2px #ab2b00;
    margin-top: 5px;
}

h1 span {
    font-size: 100px;
}

.board td:hover {
    outline: 10px rgba(255, 72, 0, 0.871);
    outline-style: groove;
    background-color: rgba(32, 17, 6, 0);
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: auto;
}

.notShown {
    background-color: rgb(48, 27, 11);
    cursor: pointer;
}

.marked {
    background: rgba(0, 0, 0, 0);
    font-size: 2.5em;
}

body {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;

}

table {
    margin: auto;
    background-color: rgba(37, 27, 20, 0.887);
}

.table-conteiner {
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    margin: auto;
    border: 15px outset rgb(162 135 114);
    padding: 60px;
}

.bomb {
    width: 40px;
    height: 40px;
}


.button-level {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20%;
    background: linear-gradient(305deg, #593f34, #29342f);
    border: 5px outset rgb(162 135 114);
    color: rgb(255, 68, 0);
    font-size: 20px;
    cursor: pointer;
}

#button-safe-cell{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20%;
    background: linear-gradient(305deg, #593f34, #29342f);
    border: 5px outset rgb(162 135 114);
    color: rgb(255, 68, 0);
    font-size: 20px;
    cursor: pointer;
}

#button-hint{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20%;
    background: linear-gradient(305deg, #593f34, #29342f);
    border: 5px outset rgb(162 135 114);
    color: rgb(255, 68, 0);
    font-size: 20px;
    cursor: pointer;
}

#counter {
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20%;
    background: linear-gradient(305deg, #593f34, #29342f);
    border: 5px outset rgb(162 135 114);
    color: rgb(255, 68, 0);
    font-size: 20px;
    margin-left: 5px;
    ;
}

#live-conteiner {
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20%;
    background: linear-gradient(305deg, #593f34, #29342f);
    border: 5px outset rgb(162 135 114);
    color: rgb(255, 68, 0);
    font-size: 20px;
    margin-left: 5px;
}

.hint-on{
    height: 20px;
    display: inline-block;
}

.hint-off{
    height: 20px;
    display: inline-block;
}

.smiley {
    height: 150px;
    display: inline;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
}

.safe-cell{
    background-color: #ab2b00;
}